* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background-color: lightslategray;
}

.game-title {
  color: pink;
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

.Clock {
  color: pink;
  font-family: fantasy;
  font-weight: normal;
  text-align: left;
  font-size: 30px;
}

.row {
  text-align: center;
}

.card {
  display: inline-block;
  width: 150px;
  height: 125px;
  background-color: teal;
}

.card:hover {
  box-shadow: inset 0px 0px 0px 5px pink;
  box-sizing: border-box;
}
