* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background-color: black;
}

.game-title {
  color: rgb(197, 53, 122);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 75px;
}

.welcome {
  color: rgb(197, 53, 122);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 55px;
}

.Clock {
  color: rgb(197, 53, 122);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 30px;
}

.row {
  text-align: center;
}

.card {
  display: inline-block;
  width: 150px;
  height: 125px;
  background-color: black;
}

.back:hover {
  box-shadow: inset 0px 0px 0px 5px rgb(67, 62, 145);
  box-sizing: border-box;
}
